@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.calendar {
    max-width: $MAX_CONTENT_WIDTH;
    margin-inline: auto;

    &__title {
        padding-block: calc($SPACING * 2);
    }

    &__big-calendar {
        width: 100%;
        min-height: 20rem;

        @include tablet {
            min-height: 40rem;
        }
    }

    &__load-error {
        max-width: $MAX_CONTENT_WIDTH;
        margin-inline: auto;
    }
}

// font size smaller
// separate font size
// calendar nav location / style
// cell more height
