@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.day-schedule {
    &__word-card {
        margin-block: calc($SPACING * 2);
    }

    &__definitions {
        display: flex;
        gap: calc($SPACING);
        padding: calc($SPACING / 2) calc($SPACING / 2) calc($SPACING / 2) 0;
    }

    &__part-of-speech {
        border-right: 1px solid gray;
        padding-right: calc($SPACING);
    }
}
