@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.day-schedule {
    max-width: $MAX_CONTENT_WIDTH;
    margin-inline: auto;

    &__schedule-page {
        width: calc(100vw - $BODY_PADDING * 2);
        max-width: $MAX_CONTENT_WIDTH;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title-container {
        min-width: 30%;
        max-width: 300rem;
        align-self: center;
        margin-block: calc($SPACING * 2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
